*, *:before, *:after {
  box-sizing: border-box;
}

.d-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

body {
  font-family: "Roboto", sans-serif;
}
body p {
  margin: 0;
  font-size: 16px;
}
body h1 {
  margin: 0;
}
body h1 {
  color: #fff;
  margin-bottom: 30px;
}
body ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

section {
  padding: 100px 0 80px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1284px;
  }
}
.main-title {
  color: #5c5c5c;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2px;
  position: relative;
  margin-bottom: 50px;
}
.main-title span {
  font-size: 60px;
  color: #ffca28;
}
.main-title:after {
  content: "";
  position: absolute;
  background-color: #ffca28;
  left: 0;
  bottom: 3px;
  width: 39px;
  height: 3px;
}

.btn {
  border: 1px solid #ffca28;
  color: #ffca28;
  max-width: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 50px;
  padding: 0 10px;
  background-color: transparent;
  border-radius: 10px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  background-color: #fff8e1;
  color: #212121;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #141414;
  z-index: 99;
}
header .container {
  align-items: center;
  justify-content: space-between;
}
header .container .logo {
  width: 70px;
  height: 70px;
}
header .container .logo img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
header .container .main-nav li {
  margin-right: 20px;
}
header .container .main-nav li:last-child {
  margin-right: 0;
}
header .container .main-nav li a {
  display: block;
  text-decoration: none;
  color: #5c5c5c;
  transition: all 0.3s ease-in-out;
}
header .container .main-nav li a:hover {
  color: #ffca28;
}

.main-screen {
  background-color: #212121;
  padding: 0 !important;
}
.main-screen .descriptions {
  color: #5c5c5c;
  margin-bottom: 30px;
}
.main-screen .hello-world {
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #fff;
  font-size: 18px;
  margin-bottom: 15px;
}
.main-screen .subtitle {
  color: #ffca28;
  margin-bottom: 30px;
}
.main-screen__items {
  flex-wrap: wrap;
}
.main-screen__items .info {
  width: 50%;
  flex-direction: column;
  justify-content: center;
}
.main-screen__items .img {
  width: 50%;
}
.main-screen__items .img img {
  width: 100%;
  object-fit: contain;
}

.socials {
  margin-bottom: 50px;
}
.socials li {
  display: inline-block;
  margin-right: 15px;
}
.socials li:last-child {
  margin-right: 0;
}
.socials li a {
  color: #5c5c5c;
  transition: all 0.2s;
  font-size: 20px;
}
.socials li a:hover {
  color: #ffca28;
}

.advantages .what_i_do {
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
}
.advantages .what_i_do .main-title {
  color: #eee;
}
.advantages .what_i_do .main-title:after {
  width: 51px;
}
.advantages .descriptions {
  text-align: center;
  margin: 0 0 30px 0;
}
.advantages .skills__items {
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}
.advantages .skills__items div {
  margin: 10px;
  width: calc(30% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.advantages .skills__items div .img__skills {
  width: 40%;
  height: 40%;
  margin-bottom: 30px;
}
.advantages .skills__items div .img__skills img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.portfolio {
  background-color: #212121;
}
.portfolio__items {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-between;
}
.portfolio__items .item {
  width: calc(100% / 3 - 20px);
  margin-bottom: 20px;
  margin-right: 20px;
  height: 400px;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.portfolio__items .item:last-child {
  margin-right: 0;
}
.portfolio__items .item:hover img {
  transform: scale(1);
  filter: grayscale(1);
}
.portfolio__items .item:hover .fast-links {
  visibility: visible;
  opacity: 1;
}
.portfolio__items .item:hover span {
  bottom: 0;
  opacity: 1;
}
.portfolio__items .item .fast-links {
  padding: 0 30px;
  z-index: 20;
  position: absolute;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 200px;
  top: 50%;
  margin-top: -100px;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.portfolio__items .item .fast-links a {
  margin-bottom: 7px;
  text-decoration: none;
  color: #fff;
  background-color: #000;
  display: block;
  padding: 0 15px;
  min-width: 250px;
  min-height: 46px;
  line-height: 46px;
  text-align: center;
  font-size: 18px;
}
.portfolio__items .item .fast-links a:last-child {
  margin-bottom: 0;
}
.portfolio__items .item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
.portfolio__items .item span {
  position: absolute;
  width: 100%;
  left: 0;
  display: block;
  background-color: #000000;
  color: white;
  font-size: 20px;
  height: 46px;
  line-height: 46px;
  padding: 0 15px;
  opacity: 0;
  bottom: -46px;
  transition: all 0.3s ease-in-out;
}

footer {
  background-color: #141414;
  padding: 50px 0;
}
footer h3 {
  color: #5c5c5c;
}
footer p {
  color: #5c5c5c;
  margin-bottom: 14px;
}
footer i {
  color: #5c5c5c;
  margin-right: 10px;
}
footer .info__items .item {
  max-width: 50%;
  padding-right: 70px;
}
footer .info__items .item .more {
  display: inline-block;
  margin-top: 15px;
}
footer .info__items .item .more i {
  margin-left: 10px;
  margin-right: 0;
}
footer .info__items .item a {
  text-decoration: none;
  color: #5c5c5c;
  display: block;
  margin-bottom: 14px;
}
footer .info__items .item a:hover {
  text-decoration: underline;
}
footer .my__links {
  justify-content: flex-end;
  align-items: center;
  padding-top: 30px;
}
footer .my__links a {
  display: block;
  text-decoration: none;
  color: #5c5c5c;
}
footer .my__links a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
